/* COMEÇO DOS KEYFRAMES */

/* Fade in da esquerda para direita */
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
}
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

/* Fade in da direita para esquerda */
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }

    to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

/* CONFIGURAÇÕES DA PÁGINA */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #454360;
    background-color: #F9F9FF;
    overflow-y: hidden;
}

/* Estilo e cores */
.bg-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.text-green {
    color: #32DE84;
}

.text-blue {
    color: #2369BE;
}

.text-yellow {
    color: #F7D145;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #00dea6;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

/* Cores e estilos de texto */
.text-col-1 {
    color: #fff;
}

.text-col-2 {
    color: #00dea6;
}

.text-col-3 {
    color: #dbdbdb;
}

.text-col-4 {
    color: #f97c7f;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: #454360;
    border-radius: 50%;
    display: inline-block;
    padding-top: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-justify {
    text-align: justify;
}

small {
    font-size: 0.9em;
}

p {
    font-size: 0.9em;
    line-height: 19px;
}

p {
    font-style: italic;
}

/* Imagens */
.img-perfil {
    width: 150px;
    height: auto;
}

.img-border {
    height: 180px;
    width: 170px;
    border: 10px solid rgba(0, 0, 0, 0.07);
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Pages wrappers */
.slide-wrapper {
    height: 100vh;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}

/* Tipografia */
h2 {
    font-family: 'Rubik', sans-serif;
    color: #454360;
    font-weight: 700;
    line-height: 1;
    font-size: 1.9em;
}

h3 {
    font-family: 'Rubik', sans-serif;
    color: #454360;
    font-weight: 300;
    line-height: 1;
}

a {
    color: #454360;
}

a:hover {
    text-decoration: none;
    color: #00dea6;
}

ul li {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1%;
    margin-top: 30px;
    background-color: #fff;
}

.card-wrapper:hover {
    transform: translateY(-10px);
}

.input-form {
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10%  ;
}

.rd-br {
    border: 1px solid red;
}

.gr-br {
    border: 1px solid red;
}

/* Botoes */
.btn-send {
    border: 2px solid #00dea6;
    color: #454360;
    text-shadow: none;
    background-color: #454360;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 10px -8px rgba(0,0,0,.22);
}

.btn-send:hover {
    border: 2px solid #00dea6;
    color: #454360;
    text-shadow: none;
    background-color: #00dea6;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 10px -8px rgba(0,0,0,.22);
}

/* INÍCIO DAS ANIMAÇÕES */
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-duration: 2s;
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-duration: 2s;
    animation-delay: 0s; 
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-duration: 2s;
}

/*-------------- ÁREA DAS HABILIDADES --------------*/
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:20px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
    transition-property:width, background-color;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
    width:110px;
	font-weight:bold;
	font-size:13px;
	color:#c8d6e5;
	background:#6adcfa;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:20px;
	line-height:20px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
}

.skillbar-bar {
	height:20px;
	width:0px;
	background:#6adcfa;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:20px;
	line-height:20px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

.skillbar:hover {
    transform: translateY(-1px);
}

/* Queries para layout recursivo de bootstrap */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #text-inicio {
        text-align: center;
        padding-top: 20px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #text-inicio {
        text-align: center;
        padding-top: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    #text-inicio {
        text-align: center;
        padding-top: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}