* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 300;
    color: white !important;
    background-color: #151418 !important;
}

/* Underline From Left */
.hvr-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px var(--base-color);
    position: relative;
    overflow: hidden;
}

.hvr-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #00A699;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline:hover:before, .hvr-underline:focus:before, .hvr-underline:active:before {
    right: 0;
}

.img-border {
    height: 500px;
    width: auto;
    /* border: 1px solid var(--text-color); */
    margin: 0 auto;
    border-radius: 50%;
}

.img-about {
    height: 400px;
    width: auto;
    /* border: 1px solid var(--text-color); */
    margin: 0 auto;
    border-radius: 4%;
}

.portfolio-img {
    height: 30px;
    width: auto;
}

.pattern {
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px);
    background-size: 4px 4px;
}

/* ----------- START colors and text styles */
span {
    color: #00A699;
}

i {
    color: white;
}

.text-bold {
    font-weight: bold !important;
}

.text-justify {
    text-align: justify;
}

.text-indent {
    text-indent: 2em;
}
/* ----------- END colors and text styles */

/* ----------- START Lists */

ul {
    list-style-type: none;
}
/* ----------- END Lists */

/* ----------- START Links styling */
a {
    text-decoration: none !important;
    color: white !important;
}

#subtitle > a, #welcome-resume > a  {
    text-decoration: none !important;
    color: #00A699 !important;
}

.card-block > a {
    text-decoration: none !important;
    color: #FEFFFA !important;
}

a:active {
    color: #00A699 !important;
}

a > i:hover {
    color: #00A699 !important;
}

.bg-white {
    color: #111528 !important;
    background-color: white !important;
}

.bd-1 {
    border: 1px solid #006100;
}

/* START portfolio box */

.line-1 {
    width: 70px;
    height: 2px;
    background: #00A699;
    margin: 8px 0;
}

.portfolio-box {
    display: flex; /* Coloca os elementos lado a lado */
    flex-direction: row; /* Direção horizontal */
    border: 1px solid #e2e8f0; /* Borda */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 .375rem 1.5rem 0 rgba(140,152,164,.125); /* Sombra */
    overflow: hidden; /* Garante que o conteúdo fique dentro do card */
}

.portfolio-img {
    flex: 0 0 60%; /* Imagem ocupa 60% do card */
    display: flex; /* Para centralizar a imagem */
    justify-content: center;
    align-items: center;
    /* background-color: #f8f9fa; */
    background-color: #000;
    height: 250px;
}

.portfolio-img > img {
    display: block;
    object-fit: cover;
    /* width: 100%;
    height: 100%; */
}

/* .portfolio-img img {
    width: auto; 
    height: auto;
    max-width: 100%;
    object-fit: contain;
} */

.portfolio-info {
    flex: 1; /* Texto ocupa o espaço restante */
    padding: 1rem; /* Adiciona espaçamento interno */
    display: flex;
    flex-direction: column; /* Conteúdo alinhado verticalmente */
    justify-content: center; /* Centraliza verticalmente */
}

.portfolio-info h2 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.portfolio-info p {
    margin-bottom: 0.5rem;
    color: #6c757d;
}

.portfolio-info .nav span {
    color: var(--px-primary, #007bff);
    font-size: 0.9rem;
}