/* CONFIGURAÇÕES DA PÁGINA */
:root {
    --base-color: white;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --second-color: #002642;
    --accent-color: #00A699;
}

.darkmode {
    --base-color: #151418;
    --base-variant: #101425;
    --text-color: white;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #00A699;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 300;
    color: var(--text-color) !important;
    background-color: var(--base-color) !important;
}

/* Underline From Left */
.hvr-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px var(--base-color);
    position: relative;
    overflow: hidden;
}
.hvr-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--accent-color);
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline:hover:before, .hvr-underline:focus:before, .hvr-underline:active:before {
    right: 0;
}

/* Images */
.profile-img {
    width: 340px;
    height: auto;
    background-color: var(--accent-color);
}

.img-border {
    height: 340px;
    width: auto;
    border: 1px solid var(--text-color);
    margin: 0 auto;
    border-radius: 50%;
}

.about-img-border {
    height: 170px;
    width: auto;
    border: 1px solid var(--text-color);
    margin: 0 auto;
    border-radius: 50%;
}

/* ----------- START colors and text styles */
span {
    color: var(--accent-color);
}

i {
    color: var(--text-color);
}

.bg-col1{
    background-color: var(--accent-color) !important;
}

.bg-col2 {
    background-color: #FEFFFA !important;
}

.bg-col3 {
    background-color: #0D0E10 !important;
}

.bg-col4 {
    background-color: #000 !important;
}

/* ----------- END colors and text styles */


/* Links styling */
a {
    text-decoration: none !important;
    color: var(--text-color) !important;
}

#subtitle > a, #welcome-resume > a  {
    text-decoration: none !important;
    color: var(--accent-color) !important;
}

.card-block > a {
    text-decoration: none !important;
    color: #FEFFFA !important;
}

a:active {
    color: var(--accent-color) !important;
}

a > i:hover {
    color: var(--accent-color) !important;
}

/* a:hover {
    color: var(--accent-color) !important;
} */

/* List changes */
ul {
    list-style-type: none;
}

.text-bold {
    font-weight: bold !important;
}

.centerAlign {
    position: absolute;
}

/* ----------- START Card styles */
.card {
    width: 18rem; 
    border-radius: 18px !important; 
    overflow: hidden;
    transition: transform .2s !important; /* Animation */
}

/* .card:hover {
    transform: scale(1.05);
} */

.img-card {
    width: 18rem;
    height: 18rem;
    display: block;
    overflow: hidden;
    object-fit: cover;
}

.card-text {
    color: var(--text-color);
}

.card-title {
    color: var(--text-color) !important;
    font-weight: bold;
}
/* ----------- END Card styles */

/* Buttons */
.btn-primary {
    border: none !important;
    padding: .8em 2em;
    background-color: var(--accent-color) !important;
    color: white !important;
    border-radius: 4px !important;
    font: inherit !important;
    font-weight: 500 !important;
    cursor: pointer !important
}

.btn-primary-outline {
    /* border: none !important; */
    padding: .8em 2em;
    background-color: transparent !important;
    border-color: var(--accent-color) !important;
    color: var(--text-color) !important;
    border-radius: 4px !important;
    font: inherit !important;
    font-weight: 500 !important;
    cursor: pointer !important
}

.btn-primary:hover {
    background-color: #025f57 !important;
}

.btn-primary-outline:hover {
    background-color: var(--accent-color) !important;
    color: #fff !important;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 2x 0;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    top: 20px;
    right: 20px;
}

#theme-switch svg{
    fill: var(--primary-color);
}

.centerFlex {
    /* position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    border-color: coral !important;
}

/* .container {
    position: relative;
    height: 400px;
    border: 2px solid #006100;
} */

.centered-element {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid #006100; */
}

.line-1 {
    width: 70px;
    height: 2px;
    background: var(--accent-color);
    margin: 8px 0;
}

.border-1 {
    border: 1px solid #006100;
}

.pattern {
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px);
    background-size: 4px 4px;
}